
node_modules
node_modules*
wordpress
provision
wp-cli
wp-cli.yml
./dist
vendor

ansible.cfg
Vagrantfile

.vagrant
.ansible
.ansible
.settings
.settings*
.project
.buildpath

phpunit.xml


# lockfiles
package-lock.json

composer.lock
composer.phar


# Windows crap
Thumbs.db
Desktop.ini

# Mac crap
.DS_Store
