
<script id="rowtemplate" type="text/template">
<tr>
	<td colspan="">
		<div class="publication"><%= item.title %></div>
		<div class="authors"><%= item.authors %></div>
		<div class="abstract">
			<a class="view" data-id="<%= item.id %>">Request File</a><span><%= item.publication %> <%= item.year %></span>
			<div class="fileinfo"></div>
		</div>

		

	</td>
</tr>
</script>


<script id="fileinfotemplate" type="text/template">
<a title="<%= item.file_name %>" class="download btn" target="_blank" href="?mendeleydownload&id=<%= item.id %>" data-id="<%= item.id %>" >Download file</a>
<%= item.sizestr %>
</script>


<!-- mendeleyroot: the root element where everything will be written -->
<div id="mendeleyroot" class="mendeleyplugin">

	<form id="mendeleyform" method="get" action="">
		<input type="text" id="query" name="query" placeholder="type your full text search here" />
		<span><button type="submit">Search</button></span>
		<input type="hidden" id="sortfield" name="sortfield" value="publication" />
		<input type="hidden" id="sortdirection" name="sortdirection" value="asc" />
		<input type="hidden" id="sortdirection" name="sortdirection" value="title" />
		<input type="hidden" id="sortdirection" name="sortdirection" value="year" />
	</form>
	
	<table class="table table-striped">
		<thead>
			<th>Order by:&nbsp;&nbsp;&nbsp;
			<a class="sorter" data-field="authors" data-direction="" href="javascript:;">Author</a>&nbsp;&nbsp;
			<a class="sorter" data-field="publication" data-direction="" href="javascript:;">Publication</a>&nbsp;&nbsp;
			<a class="sorter" data-field="title" data-direction="" href="javascript:;">Title</a>&nbsp;&nbsp;
			<a class="sorter" data-field="year" data-direction="" href="javascript:;">Year</a>&nbsp;
			</th>
		</thead>
		<tbody id="results">
			
		</tbody>
	</table>

</div>
<!-- end mendeleyroot-->

